@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap');
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
